<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layout 2</title>

</head>

<style media="screen">
.blue{
  width:32%;
  border:5px dotted;
  vertical-align: top;
}
.orange{
   display:inline-block;
   margin-top: 30px;
   margin-left: 100px;
}
</style>

<body>

  <div class="blue orange">
  Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala
</div>
  <div class="blue">Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala</div>
  <div class="orange">ohohohohohohohohohohohohohohohohohohoh
  ohohohohohohohohohohoh</div>
  <div class="inlineblock">
  meowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeow
  <br>lalalalalalalalalalalalalalalalalalala
</div>
  <div class="inlineblock">Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala</div>
  <div class="inlineblock">Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala</div><div class="inlineblock">
  Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala
</div>
  <div class="inlineblock">Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala</div>
  <div class="inlineblock">Lalalalalalalalalalalalalalalalalalala
  <br>lalalalalalalalalalalalalalalalalalala</div>


</body>
</html>
