
body{
  font-family: arial;
  font-size: 20px;


}
.number{
  padding: 2px;
  background-color: red;
  color:#fff;
}
.number:hover{
  background-color: blue;
  color:#fff;
}
.footnote{
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
}
.footnote.showme{
  color:red;
  display: block;
}
